<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@400;600&display=swap" rel="stylesheet">

    <title>Handling</title>
</head>
<body>
    <h1>Ooops..! This page is not found.</h1>
    <h2>Try starting with a new tab or restart the browser.</h2>
    <a class="dropdown-item" href="{% url 'pos_login' %}">Go to POS Dashboard</a>
    <style>
    body{
    margin-top: 15%;
    font-family: 'Overpass';
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    }
    .ins {
    width: 10%;
    padding: 1%;
    text-decoration: none;
    color: black;
    font-size: larger;
    background-color:   rgb(68, 202, 255);  
    }

    </style>
</body>
</html>