<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'pos_admin.css' %}">
    <title>Admin Dashboard</title>
</head>
<body>
  {% include 'nav/nav_pos_admin.html' %}
    {% for msg in messages %}
    <div class="alert alert-success" style="float: left; width:50%;"><strong>{{msg}}</strong> Don't refresh the page, user navigation bar.<div onclick="parentElement.style.display = 'none';" style="color: red; float: right;">&#10006;</div></div>
    {% endfor %}
    {% for p in pro %}
    <h1 style="display: flex; justify-content: center;  font-family: 'Overpass', sans-serif; font-size: 300%;">Edit product</h1>
    <h4>{{p.product_name}}</h4>
    <br>
    <a style="text-decoration: none;padding: 0.8%; background-color: rgb(246, 37, 37); color: rgb(255, 255, 255); border-radius: 2%;" onclick="if (window.confirm('Do you want to delete {{p.product_name}}'))
    {
      window.location = '{% url 'del_pro' p.product_id %}';
    }
    "><img  src="{% static 'trash3.svg' %}">  Delete {{p.product_name}} </a>
    <div >
        <form action="" method="post" class="tab">
        {% csrf_token %}
        
        <div class="input-group" style="margin: 5%;">
            <span class="input-group-text">User name</span>
            <input type="text" class="form-control" value="{{user}}" readonly>
         </div>
         <div class="input-group" style="margin: 5%;">
            <span class="input-group-text">Product name</span>
            <input type="text" name="name" class="form-control" value={{p.product_name}} required>
         </div>
         <select name="fav" class="form-select" style="margin: 5%;" required>
            <option value="">Is it favorite</option>
            <option value="1" >Yes, Favorite</option>
            <option value="2">Not a favorite</option>
         </select>
         <select name="cat" class="form-select" style="margin: 5%;" required>
            <option value="">Select category</option>
            {% for c in cat %}
            <option value="{{c.category_id}}" >{{c.category_name}}</option>
            {% endfor %}
         </select>
         <div class="input-group" style="margin: 5%;">
            <span class="input-group-text">Product price</span>
            <input type="text" name="price"value={{p.product_price}} class="form-control" required>
         </div>
         {% endfor %}
         <input type="submit" class="ins">
        </form>
    </div>
</body>
</html>